@import './utills/variables';
@import './utills/placeholders';
@import './utills/mixin';
@import './utills/hidden';

@import './base/normalize';
@import './base/reset';
@import './base/common';

@import './components/section';
@import './components/section-title';
@import './components/button';
@import './components/modal';
@import './components/modal-form';

@import './layouts/header';
@import './layouts/footer';
@import './layouts/hero';
@import './layouts/features';
@import './layouts/engage';
@import './layouts/team';
@import './layouts/client';

@import './layouts/filters-button';
@import './layouts/progects';

@import './layouts/_contacts';
