.modal-feild {
  margin-bottom: 10px;
}
.last {
  margin-bottom: 0;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  @include font(12px, 1.67, 0.01em, null, null);
  color: $secondory-text-color;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill $transition-animation;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: transparent;
  transition: border-color$transition-animation;
  &::placeholder {
    @include font(12px, null, 0.01em, null, null);
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: $accent-color;
  }
  &:focus + .modal-input-icon {
    fill: $accent-color;
  }
}
.modal-text {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition: border-color $transition-animation;
  &::placeholder {
    @include font(12px, null, 0.01em, null, null);
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: $accent-color;
  }
  @include mobile {
    height: 120px;
  }
}

/* checkbox */

.label-checkbox {
  justify-content: center;
  @extend %aling-center;
  gap: 7px;
  line-height: 1.71;
  margin-top: 5px;
  // margin-bottom: 30px;
  margin-bottom: 11px;

  color: $secondory-text-color;
  @include mobile {
    margin-top: 20px;
    // margin-bottom: 30px;
    margin-bottom: 31px;
  }
  & > a {
    color: $accent-color;
  }
}

.custom-check {
  position: relative;
  width: 16px;
  height: 15px;
  border: 2px solid $primery-text-color;
  border-radius: 2px;
  background-color: transparent;
  transition: border-color $transition-animation;
  & > svg {
    transition: opacity $transition-animation;
  }
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  fill: $primery-background-color;
  background-color: $accent-color;
  border-radius: 2px;
}

.input-checkbox:checked + .custom-check {
  border-color: transparent;
  & > svg {
    opacity: 1;
  }
}
.checkbox-text {
  display: flex;

  @include font(12px, calc(14 / 12), 0.03em, null, null);
  color: $secondory-text-color;
  @include desktop {
    // @include font(null, 1.17, 0.03em, null, null);
  }
}
.licence-link {
  color: $accent-color;
}

/* button submit */

.button-submit {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  &:hover,
  &:focus {
    background-color: $secondory-accent-color;
  }
}
