$primery-text-color: #212121;
$secondory-text-color: #757575;
$therd-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$secondory-accent-color: #188ce8;
$primery-background-color: #f5f5f5;
$secondory-background-color: #f5f4fa;
$therd-background-color: #2f303a;
$primery-wight: #ffffff;
$primery-black: #000000;
$primery-gray: #eeeeee;
$background-icon: #afb1b8;
$background-footer-icon: rgba(255, 255, 255, 0.1);
$transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$overlay-background: rgba(33, 150, 243, 0.9);
