.icon-client {
  fill: currentColor;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.client-item {
  height: 92px;
  width: calc((100% - 30px) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.client-link {
  transition: border-color $transition-animation, color $transition-animation;
  @extend %justify-center;
  height: 100%;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $background-icon;
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}
