.filters-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 15px;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }
  @include desktop {
    margin-bottom: 48px;
  }
}

.filters-button {
  font-family: 'Roboto';
  padding: 6px 22px;
  @include font(16px, 1.62, 0.03em, 500, null);
  border-radius: 4px;
  border-color: transparent;
  transition: color $transition-animation, background-color $transition-animation,
    box-shadow $transition-animation;
  background-color: $secondory-background-color;
  &:hover,
  &:focus {
    color: $primery-wight;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
